<h1>Questions? Contact us!</h1>

<div class="row" id="contact-content">
    <div class="col-sm">
      <h2>Write</h2>
        <p>usedbikes@berlin.de</p>
    </div>

    <div class="col-sm">
      <h2>Chat</h2>
        <p>0167/4502951</p>
    </div>

    <div class="col-sm">
      <h2>Come by</h2>
        <p>BikesBerlin</p>
          <p>Fahrradstraße 54</p>
          <p>10365 Berlin</p>
    </div>
  </div
